*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 414px;
    height: 100vh;

    font-family: "Roboto";
    font-weight: 400;

    margin: 0 auto;

    position: relative;
}
header{
    height: 92px;
    width: 414px;

    position: fixed;
    top: 0;
    z-index: 2;

    background-color: #CF2B2B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
header h1{
    font-family: "Righteous";
    font-size: 44px;
    line-height: 55px;
    color: #fff;

    padding-left: 20px;
}
header h2{
    font-size: 18px;
    line-height: 21px;
    color: #fff;
    font-weight: 400;

    padding-left: 20px;
}
main{
    padding: 123px 20px 108px;
    width: 414px;

    background-color: #e5e5e5;
}
.fileira{
    overflow-x: scroll;
    margin-bottom: 25px;
}
.fileira:last-child{
    margin: 0;
}
.fileira h2{
    position: absolute;

    font-family: "Righteous";
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    color: #333;
}
.fileira img{
    margin-bottom: 8px;
}
.fileira h3{
    font-weight: 700;
    font-size: 16px;
    color: #333;

    margin-bottom: 4px;
}
.fileira p {
    color: #a6a6a6;
    line-height: 18px;
    font-size: 15px;
    font-weight: 300;

    margin-bottom: 10px;
}
.fileira span{
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
.pratos,
.bebidas,
.sobremesas{
    margin-top: 42px;

    display: flex;
    gap: 16px;
}
.prato,
.bebida,
.sobremesa{
    background-color: #fff;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;

    padding: 18px 12px 13px;

    display: flex;
    flex-direction: column;

    width: 172px;

    position: relative;
}
.selecionado{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    border: 6px solid #32B72F;
    border-radius: 9px;
}
.check{
    position: absolute;
    right: 10px;
    bottom: 14px;

    width: 16px;
    height: 16px;

    font-size: 19px;
    color: #32B72F;
}
.fechar-pedido{
    height: 92px;
    width: 414px;

    position: fixed;
    bottom: 0;
    padding-left: 0;
    z-index: 2;

    background-color: #fff;
}
.fechar-pedido button{
    height: 61px;
    width: 364px;

    font-size: 20px;
    color: #fff;

    padding: 0 70px;

    border-radius: 50px;
    border: 0;
    
}
.cinza{
    background-color: #CBCBCB;
}
.verde{
    background-color: #32B72F;
}
.tela-informacoes,
.confirmar-pedido,
.pedido-concluido{
    position: absolute;
    top: 0;
    bottom: -360px;
    z-index: 2;

    padding: 123px 20px 108px;
    width: 414px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color:rgba(255, 255, 255, 0.9);;
}
.informacoes,
.pedido,
.concluido{
    width: 377px;
    height: 353px;
    background-color: #50D074;

    padding: 20px 25px 0;
    
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
}
.informacoes h3,
.pedido h3,
.concluido h3 {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;

    margin-bottom: 28px;
}
.concluido h3 {
    font-size: 40px;
}
.informacoes p {
    font-size: 20px;
    line-height: 23px;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
.informacoes input{
    border: 0;
    outline: 0;

    height: 20px;

    padding-left: 5px;
}
.pedido div{
    margin-bottom: 13px;
}
.pedido #info-pedido{
    display: block;
}
.pedido p,
.pedido span {
    font-size: 22px;
    line-height: 26px;
    color: #fff;
}
.pedido span{
    font-weight: bold;
}
.informacoes .botoes,
.pedido .botoes,
.concluido .botoes{
    margin-top: 24px;
}
.informacoes .continuar,
.pedido .confirmar,
.concluido .confirmar {
    width: 329px;
    height: 52px;

    background: #FFFFFF;
    border-radius: 100px;
    border: 0;

    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: #50D074;

    cursor: pointer;
}
.informacoes .cancelar,
.pedido .cancelar {
    background: 0;
    border: 0;

    height: 54px;

    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    
    cursor: pointer;
}
.invisivel{
    display: none;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexColumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.space{
    justify-content: space-between;
}